.message {
    width: 300px;
    font-family: sans-serif;
    padding: 15px;
    background: rgba(101, 221, 111, 0.7);
        
        /* Привязывается к указанной свойствами left, top, right и bottom точке на экране и не меняет своего положения при прокрутке веб-страницы.  */
    position: fixed; 

        /* табличка находится за страницей, поэтому не видно; на событие - transform поднимается и становится видимым */
        /* transform только для блочных, но можно преобразовывать в блочные (display: inline-block) */
        /* 100vh = 100% высоты окна браузера */
    top: calc(100vh + 20px); 

        /* Медленное появление */
    transition-duration: 0.5s;
    

    
}

